        .el__head {
            .el-header {
                padding: 0 !important;
                height: 50px !important;
            }
            .el-footer {
                padding: 0 !important;
            }
        }
        
        .el__element {
            .el-side {
                width: 0 !important;
            }
        }